@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.acc-container {
  background-color: variables.$w-gray;
  height: 100%;
  margin: 2%;
  padding: 2%;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.acc-content {
  width: 100%;
  height: 100%;
}

.acc-profile {
  display: flex;
  gap: 40px;
  width: 100%;
  padding: 3px;
  height: 210px;
}

.acc-manager {
  padding: 20px;
}

.acc-pfp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 2px solid black;
  padding: 2px;
}

.acc-profile-btns {
  display: flex;
  gap: 20px;
  padding-block: 20px;

  button{
    cursor: pointer;
    @include main.scale-hover-effect;
  }
}

.upload-btn {
  background-color: transparent;
  border: 3px solid black;
  padding: 3px;
  width: 150px;
  border-radius: 12px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.remove-btn {
  background-color: transparent;
  border: 3px solid red;
  padding: 3px;
  width: 150px;
  border-radius: 12px;
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

.acc-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 70%;
}

.acc-personal,
.acc-password {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-block: 30px;
}

.acc-form-containers {
  display: flex;
  width: 70%;
  gap: 5%;
}

.acc-pfp h1,
.acc-personal h1,
.acc-password h1 {
  line-height: 1rem;
  font-size: 1.2rem;
  padding-block: 10px;
}

.acc-personal input,
.acc-password input {
  padding: 10px;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
  background-color: variables.$footer-gray;
  min-width: 400px;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#none{
  display: none;
}
.acc-btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: auto;
  animation: slideUpFadeIn 0.5s ease-out forwards;

  button{
    @include main.scale-hover-effect;
    cursor: pointer;
  }
}

.cancel-btn {
  background-color: transparent;
  border: 3px solid black;
  padding: 3px;
  width: 150px;
  border-radius: 12px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.save-btn {
  background-color: black;
  border: 3px solid black;
  padding: 3px;
  width: 150px;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.pw-btn{
  background-color: black;
  border: 3px solid black;
  padding: 3px;
  width: 200px;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  @include main.scale-hover-effect;
  cursor: pointer;
}

.imgInfoText{
  line-height: 25px;
}

.acc-divider {
  border: none;
  height: 2px;
  background-color: variables.$footer-gray;
}

.swal-title {
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
}

.full-width {
  width: 26rem !important;
  margin-left: 0;
  margin-right: 0;
}

.custom-swal-popup {
  width: 30rem; 
}

@media screen and (max-width: 990px) {
  .acc-form-containers{
    display: block;
  }
  .acc-container{
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 895px) {
  .acc-manager{
    padding: 0 0 20px 0;
  }
  .acc-profile{
    display: block;
    height: auto;
  }
}
@media screen and (max-width: 455px) {
  .acc-personal input, .acc-password input{
    width: 290px;
    min-width: auto;
  }
}
@media screen and (max-width: 768px) {
  .acc-container{
    margin-top: 30px;
  } 
  }