@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.c-body {
  display: block;
  padding: 24px;
}

.class-info h1{
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.class-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
  line-height: 18px;
}

.class-details div {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.class-details span {
  font-weight: 600;
}

.button-class {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.button-class button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  width: 120px;
  border-radius: 12px;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.class-edit-btn {
  background-color: black;
  @include main.scale-hover-effect;
}

.class-delete-btn {
  background-color: variables.$decor-cal;
  @include main.scale-hover-effect;
}

.cc-fRow{
  display: flex;
  gap: 10%;
  padding-bottom: 5%;
}

.cc-body{
  padding: 24px;
  overflow-y: auto;
}

.cc-fRow h1{
  font-size: 1.1rem;
}

.cc-body input{
  width: 400px;
  background-color: variables.$w-gray;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  border: 0;
}

.cc-sRow{
  display: flex;
}

.cc-add-btn{
  width: 300px;
  border: 0;
  background-color: black;
  color: white;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 1rem;
  transition: .2s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.03);
    transition: .2s ease;
  }
  &:active{
    transform: scale(1);
  }
}
.cc-btn{
  display: grid;
  justify-content: center;
}
.rows-input{
  display: flex;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
  flex-wrap: wrap;

  input{
    width: 280px;
    padding: 8px;
    border-radius: 8px;
  }
}
.cc-buttons{
  display: flex;
  gap: 15px;
  padding-top: 20px;

  button{
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 12px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

#cc-cc-btn{
  background-color: black;
  cursor: pointer;
  @include main.scale-hover-effect;
}

#cc-cancel-btn{
  background-color: variables.$decor-cal;
  cursor: pointer;
  @include main.scale-hover-effect;
}

.cc-view{
  padding-top: 30px;
  border-top: 1px solid #d3d3d3;
}

.cc-view h1{
  display: flex;
  justify-content: center;
}

.cc-table{
  margin-top: 20px;
  overflow-x: auto;

  table{
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    margin: 0 auto;
    border-spacing: 20px;
    border-collapse: separate;
  }
}
.cc-table-td{
  width: 280px;
  height: 100px;
  min-width: 280px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

.cc-table-select{
  width: 150px;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer
}

.classroom-preview {
  margin-top: 2rem;
  border-top: 1px solid #d3d3d3;
}

#cp-header{
  text-align: center;
  padding-top: 30px;
}

.layout-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.desk {
  background-color: #ebebeb;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  min-width: 80px;
  justify-content: center;
  flex-wrap: wrap;
}

.seat {
  background-color: transparent;
  color: black;
  font-weight: 500;
}

.seats-inside{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.rowNumber{
  display: flex;
  align-items: center;
}