@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.g-card {
  background-color: variables.$w-gray;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 4px 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.g-header {
  font-weight: bold;
  font-size: 1.6rem;
}

.g-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.g-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.g-footer .show-more {
  font-size: .9rem;
  color: variables.$sidebar;
}

.g-footer img {
  width: 38px;
  @include main.scale-hover-effect;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-right: 30%;
  line-height: 18px;
}

.details div {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.details span {
  font-weight: 600;
}
