@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.home{
  background-image: url('../assets/img/hero.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
}