@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.notFound{
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;

    .logoBox{
        text-align: center;
        display: grid;

        .logo {
            width: 250px;
        }
    }
    .textBox{
        .spinner {
            height: 50px;
            width: 50px;
            border: 5px solid variables.$w-gray;
            border-bottom: 5px solid variables.$dark-decor-cal;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }