@use "./variables";
@use "./fonts";
@use "./main-style.scss";

.reviews {
  background-image: url("../assets/img/reviews.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.reviews-title {
  text-align:center;
  padding: 15% 8%;
}

.reviews-title h1{
    font-size: 4rem;
    line-height: 2rem;
}

.reviews-title h2{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.397);
}

.reviews-cards{
  display: flex;
  justify-content: space-evenly;
  padding: 2% 3%;
}