@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.signup-content {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.signup-content div {
  width: 50%;
  height: 100%;
}

.chairs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  padding: 2rem;

  .top{
    height: 3vh;
    width: 100%;
    position: absolute;
    top: 20px;
    font-weight: 600;

    &#right{
      display: flex;
      justify-content: right;
      right: 30px;
    }

    a{
      color: black;
      text-decoration: underline;
      font-size: 1.2rem;
    }
  }
  .bottom{
    width: 100%;
    height: 97vh;
    text-align: center;
    display: contents;
  }
}

.signup-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.signup-form form input {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1rem;
  border-radius: 12px;
  background-color: variables.$w-gray;
  border: 0;
}

.signup-form button {
  padding: 10px;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.signup-form p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.signup-form p a {
  color: variables.$decor-cal;
  text-decoration: none;
}

#formBtn{
  width: 100%;
  display: grid;
  justify-content: center;
  @include main.scale-hover-effect;
}

@media screen and (max-width: 768px) {
  .signup-image{
    display: none;
  }
  .signup-content div{
    width: 100%;
  }
}