@use "./variables";
@use "./fonts";
@use "./main-style.scss" as main;

.wps-content {
  padding: 5% 5%;
}

.wps-title {
  text-align: center;
}

.wps-content h6 {
  font-size: 1.2rem;
  color: variables.$decor-cal;
  line-height: 0.1rem;
}

.wps-content h1 {
  font-size: 3rem;
}

.wps-reviews {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.all-reviews-button {
  padding: 5px;
  width: 170px;
  font-weight: bold;
  border-radius: 12px;
  font-size: 1.2rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px black solid;
  text-decoration: none;
  color: inherit;
  @include main.scale-hover-effect;
}

.wps-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
